# Lets df and viz your sql data

In [24]:
import numpy 
import pandas as pd
import pymysql 
from sqlalchemy import create_engine
import sqlalchemy as sa

# Challenge 1 - Load and Evaluate the Datasets

#### In this challenge we will load data from MySQL Sakila database or MySQL bank database (or any other DB); by querying and evaluating the results returned using MySQL we can be selective about the data used to make visualisation with seaborn/matplotlib very easy. Ideally you want to bring some data from SQL into python which will allow you to plot a trend or comparison. 

In the cell below, create a mysql engine for your local mysql instance and include your username, password and database schema name by creating a variable connection string following the following pattern:

create_engine(‘dialect+driver://username:password@host:port/database’)

This is the format to create the connection string and engine for a local mysql connection

> connection_string = 'mysql+pymysql://root:' + 'password' + '@localhost/DB'

- replace root with your username and password with your password
- replace DB with database name 

> engine = create_engine(connection_string)

In [10]:
import getpass

In [11]:
password= getpass.getpass()

········

In [12]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine= create_engine(connection_string)

Use this connection to load data with a sql query which connects the target tables in your database using joins, selects the fields you wish to work with and any aggregation columns + grouping / window function new columns or filters by where/having as appropriate. You can draw on any of the labs or lessons to establish what your query should look like. Its ok if this stage is a little trial and error but I recommend testing the query in your MySql client to ensure it returns the results you want!

In [60]:
query_str = '''SELECT count(t.account_id) as accounts, date_format(convert(t.date,date), '%Y') as year, d.A2 as district_name, d.A3 as region, round(sum(t.amount)) as total_trans
FROM trans t
join account a 
on a.account_id = t.account_id
join district d
on t.account_id = d.A1
group by district_name, region, year
order by total_trans DESC
'''

In [61]:
data_set =pd.read_sql_query(sa.text(query_str), engine)

#### Let's start examining the dataset to ensure we have the data we want to visualise.

First look at the first five rows using the `head` function.

In [62]:
data_set.head()

   accounts  year     district_name         region  total_trans
0        90  1995            Tachov   west Bohemia    1477231.0
1        72  1997           Sokolov   west Bohemia    1289719.0
2        84  1997           Olomouc  north Moravia    1124993.0
3        68  1997            Tachov   west Bohemia    1114956.0
4        61  1996  Zdar nad Sazavou  south Moravia    1110251.0

Next, lets use the `info` function to see the dtypes and row counts

In [63]:
data_set.info

<bound method DataFrame.info of      accounts  year     district_name         region  total_trans
0          90  1995            Tachov   west Bohemia    1477231.0
1          72  1997           Sokolov   west Bohemia    1289719.0
2          84  1997           Olomouc  north Moravia    1124993.0
3          68  1997            Tachov   west Bohemia    1114956.0
4          61  1996  Zdar nad Sazavou  south Moravia    1110251.0
..        ...   ...               ...            ...          ...
288         2  1997             Tabor  south Bohemia       1149.0
289         2  1996      Karlovy Vary   west Bohemia       1070.0
290         3  1993             Opava  north Moravia        619.0
291         2  1993  Zdar nad Sazavou  south Moravia        609.0
292         1  1996            Vyskov  south Moravia        600.0

[293 rows x 5 columns]>

Next, we'll examine the `describe` function to see the descriptive statistics for the numeric variables.

In [64]:
data_set.describe

<bound method NDFrame.describe of      accounts  year     district_name         region  total_trans
0          90  1995            Tachov   west Bohemia    1477231.0
1          72  1997           Sokolov   west Bohemia    1289719.0
2          84  1997           Olomouc  north Moravia    1124993.0
3          68  1997            Tachov   west Bohemia    1114956.0
4          61  1996  Zdar nad Sazavou  south Moravia    1110251.0
..        ...   ...               ...            ...          ...
288         2  1997             Tabor  south Bohemia       1149.0
289         2  1996      Karlovy Vary   west Bohemia       1070.0
290         3  1993             Opava  north Moravia        619.0
291         2  1993  Zdar nad Sazavou  south Moravia        609.0
292         1  1996            Vyskov  south Moravia        600.0

[293 rows x 5 columns]>

#### At this stage it may be necessary to load another set of data with an additional mysql query and repeat the stages above - perhaps you are thinking to join the results of your two queries together or you think that both should be visualised separately to answer the question you came up with?

Do this in the following 3 cells below.

In [73]:
# Your code here:
# amended above

# Your code here (box plot to see outliers for specific columns)

# Challenge 2 - Export your data frame as a csv 

Export df to a csv file using the `df.to_csv` function, filtered if suitable, excluding any columns which are not useful for further analysis

In [77]:
import csv

In [80]:
data_set.to_csv("Czech_regions_SQL.csv")

# Challenge 3: Visualise relationships or trends found in the data

At this stage you can visualise the data in your chosen tool, Tableau, Excel, Python(matploitlib,seaborn)

**Business Question**: think about what are the question(s) you want to answer with the data you have gathered from the MySQL database. Make the question as specific as possible 
- for example, are childrens films rented more frequently on weekends than comedies?

**Visuals**: Think about what plot type best supports answering your question(s). Each plot/ visualisation should have an appropriate title, legend and axis labels, so the meaning is as clear as possible without needing a caption. Make use of colour pallettes ! dont just create a blue plot :)

![region](Czechchart.png)

<img src="Czechchart.png" />